{% extends "base.html.twig" %}
{% block body %}
<div class="single-category">
  <a href="{{ path('categories') }}" class="back">← Categories</a>
  <h1>{{ category.name }}</h1>
  {% include 'Product/base.html.twig' with {'products': category.products} %}
</div>
{% endblock %}
