.products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .product {
    width: calc(100% / 3 - 20px);
    margin: 10px;
    margin-bottom: $spacing-unit * 2;

    .content {
      padding-top: 0;

      .description {
        margin: 0;
        margin-top: $spacing-unit;
      }

      .price {
        color: #ffffff;
        background-color: red;
      }
    }
  }
}
