<div class="mdl-grid">
  {% for product in products %}
    <div class="product-card mdl-cell mdl-cell--4-col demo-card-wide mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title" style="background-image: url('/uploads/{{product.image}}')"></div>
      <div class="mdl-card__supporting-text">
        <h2 class="mdl-card__title-text">{{ product.name }}</h2>
        <span class="mdl-chip">
          <span class="mdl-chip__text">{{ (product.price / 100)|number_format(2, ',', '') }} €</span>
        </span>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a href="{{ path('singleProduct', {id: product.id}) }}" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          Voir le produit
        </a>
      </div>
    </div>
  {% endfor %}
</div>
