{% extends "base.html.twig" %}

{% block body %}
  <h1>Accueil</h1>
  {% include 'Product/base.html.twig' with {'products': products} %}
  <a href="{{ path('products') }}" class="mdl-button mdl-js-button mdl-button--raised">
      Voir tous les produits
  </a>
{% endblock %}
