{% extends "base.html.twig" %}

{% block body %}
  <h1>Home</h1>
  <a href="{{ path('products') }}">View products</a>
  {% for product in products %}
    <p>{{ product.name }}</p>
  {% endfor %}
{% endblock %}
