{% extends "base.html.twig" %}

{% block body %}
  <h1>Home</h1>
  {% include 'product.html.twig' with {'products': products} %}
  <a href="{{ path('products') }}" class="mdl-button mdl-js-button mdl-button--raised">
      View all products
  </a>
{% endblock %}
